<launch>

    <node pkg="rosbag" type="play" name="player" output="screen" args="$(dirname)/project.bag"/>

    <node pkg="lla2enu" name="front" type="enu_front"/>
        <param name="latitude_init" value="45.6216561271" />
        <param name="longitude_init" value="9.28155230131" />
        <param name="h0" value="224.616616895" />
        

    <node pkg="lla2enu" name="obstacle" type="enu_obs"/>
        <param name="latitude_init" value="45.6216561271" />
        <param name="longitude_init" value="9.28155230131" />
        <param name="h0" value="224.616616895" />


</launch>
